{% extends "list.html" %}

{% block title %}Mike's Note{% endblock %}
{% block description %}Keep an open mind.{% endblock %}

{% block list %}
  {% for note in notes %}
  <div class="blog-post">
    <h2 class="blog-post-title"><a href="{% url 'note:detail' note.slug %}">{{ note.title }}</a></h2>
    <p class="blog-post-meta">{{ note.subtitle }}</p>
  </div>
  {% endfor %}
{% endblock %}

{% block paginator %}
<nav>
  <ul class="pager">
    {% if notes.has_previous %}
      <li><a href="?page={{ notes.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if notes.has_next %}
      <li><a href="?page={{ notes.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
