{% extends "base.html" %}

{% block post %}
<div class="posts">
    <h1 class="content-subhead">Recent Posts</h1>

    {% for note in notes %}
    <section class="post">
        <header class="post-header">
            <img class="post-avatar" alt="Eric Ferraiuolo&#x27;s avatar" height="48" width="48" src="img/common/ericf-avatar.png">

            <h2 class="post-title"><a href="{% url 'note:list' category %}">{{ note.title }}</a></h2>

            <p class="post-meta">
                By <a class="post-author" href="#">Eric Ferraiuolo</a> under <a class="post-category post-category-js" href="#">JavaScript</a>
            </p>
        </header>

        <div class="post-description">
            <p>
              {{ note.overview }}
                <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. -->
            </p>
        </div>
    </section>
    {% endfor %}
{% endblock %}
