{% extends "base.html" %}
{% load markdownify %}

{% block post %}
<div class="posts">
    <h1 class="content-subhead">Recent Posts</h1>

    {% for note in notes %}
    <section class="post">
        <header class="post-header">
            <!-- <img class="post-avatar" alt="Eric Ferraiuolo&#x27;s avatar" height="48" width="48" src="img/common/ericf-avatar.png"> -->

            <h2 class="post-title"><a href="{% url 'note:detail' note.slug %}">{{ note.title }}</a></h2>

            <p class="post-meta">
                <!-- <a class="post-author" href="#">Eric Ferraiuolo</a> under  -->
                Posted at {{ note.update_time }}
                <a class="post-category post-category-{{ note.category | lower }}"
                  href="{% url 'note:list' note.category %}">{{ note.category }}</a>
            </p>
        </header>

        <div class="post-description">
            <p>
              {{ note.overview | markdown | safe }}
              <a href="{% url 'note:detail' note.slug %}">...</a>
            </p>
        </div>
    </section>
    {% endfor %}
{% endblock %}
